<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>YourBooking</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                BookYourHotel
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                {% if current_user.is_admin() %}
                    <li><a href="{{ url_for('admin') }}">Admin panel</a></li>
                {% endif %}
                {% if current_user.is_receptionist() %}
                    <li><a href="{{ url_for('manageBooking') }}">Booked rooms</a></li>
                    <li><a href="{{ url_for('newBooking') }}">New booking</a></li> 
                {% endif %}
                {% if current_user.is_customer() or current_user.is_anonymous() %}
                    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                {% endif %}
                {% if current_user.is_hotel_admin() %}
                    <li><a href="{{ url_for('myHotels') }}">My hotels</a></li>
                {% endif %}
                {% if current_user.is_anonymous() %}
                    <li><a href="{{ url_for('addProperty') }}">Add your property</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My account <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('profile') }}">Profile</a></li>
                            {% if current_user.is_customer() %}
                                <li><a href="{{ url_for('myBooking') }}">Bookings</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                    <li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
</div>
{% block content %}
{% endblock content %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</html>